/* HERO */
.hero img {
    width: 100%;
    height: 715px;
  }

  main {
    font-family: 'Darker Grotesque', sans-serif;
    background-color: #F8F5F0;
    padding: 0;
    margin: 0;
  }

  
  .kortsektion {
    position: relative;
    width: 100%;
  }
  
  
  .kortsektion img {
    width: 100%;
  }

  .kort-baggrund {
    width: 100%;
    height: auto;
    display: block;
  }

  .intro {
    position: absolute;
    top: 25%; /* højden fra heri til tekst */
    left: 50%;
    transform: translate(-50%, -30%);
    width: 60%;
    text-align: center;
  }
  
  
  .intro h1 {
    font-family: 'Italiana', serif;
    font-weight: 300;
    font-size: 30px;
  }

  .intro hr {
    width: 40px;
    border: 1px solid black;
    margin: 20px auto;
  }

  .intro p {
    font-size: 18px;
    line-height: 1.7;
  }

  .produkt-sektion {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    position: relative;
  }
  
  .boks {
    flex: 1;
  }
  
  .billede-boks img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Billedet fylder hele boksen */
  }
  
  .tekst-boks {
    position: relative;
    padding: 40px;
    background-color: #FCFBF9
  }

  .tekst-boks p{
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  .tekst-boks h2 {
    font-family: 'Italiana', serif;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .bar {
    background-color: #eee;
    height: 15px;          /* Gør baren højere */
    width: 70%;            /* Fyld op til 80% af forældreelementet (tekst-boksen) */
    max-width: 500px;      /* Maks bredde på bar */
  }
  
  .bar-fill {
    background-color: black;
    height: 100%;
  }

  .egenskaber p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .pris-container {
    position: absolute; /* Gør det muligt at placere containeren præcist */
    bottom: 40px; /* Placer den 10px fra bunden */
    right: 10px; /* Placer den 10px fra højre */
    text-align: right; /* Juster indholdet til højre */
  }

  .pris {
    font-size: 18px; /* Juster skriftstørrelsen, hvis nødvendigt */
    font-weight: bold; /* Valgfrit: Gør teksten fed */
    margin-right: 30px;
  }

  .btn {
    padding: 8px 16px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: inline-block;
    margin-right: 20px;
  }

  .btn:hover {
    transform: scale(1.1);
}

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    color: black;
    display: inline-block;
}

.left-arrow {
    left: -50px;   /* Justér som du ønsker */
}

.right-arrow {
    right: -50px;  /* Justér som du ønsker */
}

.arrow:hover {
  transform: translateY(-50%) scale(1.2); /* Centrer og forstør */
}

  

  



 