/* GENERELT */
main {
    font-family: 'Darker Grotesque', sans-serif;
    background-color: #F8F5F0;
    padding: 0;
    margin: 0;
  }

  /* Tilbage pil */
.tilbage{
    position: relative;
    margin-bottom: 20px;
}

.tilbage img{
    position: absolute; /* Gør det muligt at placere billedet præcist */
    top: 20px; /* Juster afstanden fra toppen */
    left: 110px; /* Juster afstanden fra venstre */
    width: 30px; /* Juster størrelsen på billedet */
}

.tilbage :hover{
    cursor: pointer; /* Gør det til en klikbar hånd */
    transform: scale(1.20); /* Gør billeder en smule størrer ved hover*/
}
  
  /* INTRO */
.intro {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .intro h1 {
    font-family: 'Italiana', serif;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 40px;
  }

  .intro h2{
    font-size: 18px;
    font-weight: lighter;
    margin-top: 25px;
}

  .intro hr {
    width: 40px;
    border: 1px solid black;
    margin: 20px auto;
  }

  .intro p {
    font-size: 20px;
    line-height: 1.7;
  }

  .smagsprofiler {
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 40px;
    padding-bottom: 150px;
  }
  
  .smagsprofil {
    display: flex;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #FCFBF9;
    height: 600px;
  }

  .smagsprofil.højre {
    flex-direction: row-reverse; /* Bytter rækkefølgen af billedet og teksten */
}
  
  .billede-container {
    flex:1;
    height: 100%;
  }
  
  .billede-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .tekst-container {
    flex:1;
    padding: 20px;
}

  
  .tekst-container h3 {
    font-size: 35px;
  }
  
  .tekst-container p {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  .tekst-container li {
    font-size: 18px;
    margin-bottom: 10px;
  }